.personalInfoSection {
  margin-top: 100px;
}

.personalInfo__wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Две колонки одинаковой ширины */
  gap: 20px; /* Пробел между колонками */
}

.personalInfoSection .input-group__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Пробел между инпутами */
}

.personalInfoSection .input-group:nth-child(2) {
  align-items: flex-end; /* Прижимает инпуты к правому краю */
}

/* Стилизация инпутов, если нужно */
.personalInfoSection input {
  width: 100%; /* Полная ширина внутри своего контейнера */
  padding: 10px; /* Некоторый паддинг для визуального комфорта */
  /* Дополнительные стили... */
}
