header {
  display: flex; /* Использует Flexbox для выравнивания дочерних элементов */
  justify-content: space-around; /* Располагает дочерние элементы равномерно в пространстве контейнера */
  align-items: center; /* Выравнивает дочерние элементы по центру по вертикали */
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
}

header .logo {
  margin-right: 20px; /* Добавляет отступ справа, если необходимо */
  max-width: 263px;
  width: 100%;
}

header .logo img {
  width: 100%;
  max-width: 263px;
  height: auto;
}

header nav ul {
  list-style: none; /* Убирает маркеры списка */
  padding: 0; /* Убирает отступы по умолчанию */
  margin: 0; /* Убирает внешние отступы */
  display: flex; /* Повторно использует Flexbox для выравнивания элементов навигации */
  gap: 10px; /* Добавляет пространство между элементами списка */
}

nav a {
  text-decoration: none; /* Убирает подчеркивание ссылок */
  color: #333; /* Задает цвет текста ссылок */
  padding: 10px; /* Добавляет внутренние отступы */
}

nav a:hover {
  color: #007bff; /* Цвет текста ссылки при наведении */
}
