.footer-wrapper {
  background-color: #333333;
  color: white;
  min-height: 300 px;
  margin-top: 115px;
}

.footer-wrapper h3 {
  color: #fff;
  font-family: Karla;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}

.footer-wrapper li {
  font-family: Karla;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 8px;
}

footer {
  margin: 25px 0;
  width: 100%;
  display: flex;
}

.footer_links {
  display: flex;
  justify-content: center;
  gap: 100px;

  margin-left: 130px;
}

.footer_logo img {
  width: 100%;
  max-width: 150px;
}

.footer_nav,
.footer__contacts,
.footer_socialmedia {
  display: flex;
  flex-direction: column;
}
