html,
body {
  height: 100%; /* Высота всего документа */
  margin: 0; /* Убираем отступы */
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px; /* это ваш gutter между колонками */
  padding-left: 70px; /* это ваш left margin */
  padding-right: 70px; /* это ваш right margin */
  max-width: 100%; /* это гарантирует, что контейнер не будет шире экрана */
  margin: 0;
}

header,
main,
footer {
  grid-column: 2 / 10; /* Занимают все колонки от первой до последней */
}
