html,
body {
  height: 100%; /* Высота всего документа */
  margin: 0; /* Убираем отступы */
  overflow-x: hidden;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  flex: 1;
  display: flex;
  grid-gap: 20px; /* это ваш gutter между колонками */
  padding-left: 180px; /* это ваш left margin */
  padding-right: 180px; /* это ваш right margin */
  max-width: 100%; /* это гарантирует, что контейнер не будет шире экрана */
}

header,
main,
footer,
.hero__main {
  grid-column: 2 / 10; /* Занимают все колонки от первой до последней */
}
